.nav-left{
    padding: 2rem 1rem;
}

.nav-left .current{
    background-color: #424242;
}

.nav-left .collapsible {
    box-shadow: none;!important;
    border: none;!important;
}
.nav-left .collapsible-header{
    background-color: transparent;!important;
    border: none;!important;
}
.nav-left .collapsible-body{
    border: none;!important;
    padding: 0 2rem;
}

.element{
    padding: 1rem 0;
}

body{
    color: #fff;
    font-size: 18px;
}
