body{

}

.header{
    border-bottom: 2px solid #1b1e21;
}
.main-container{
    padding: 0 50px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: auto;
}
footer{
    flex-shrink: 0;
}
.main-register-container{
    min-height: 90vh;
}
.main-header{
    height: 10vh;
}
.main-border-right{
    border-right: 1px solid;
}
.custom-text{
    color: black;
    text-shadow: #5dc8e5 0 0 10px, darkorange 1px 1px 0, darkorange -1px -1px 0,
    darkorange -1px 1px 0, darkorange 1px -1px 0;
}
.hero-name{
    font-size: 30px;
    padding-bottom: 20px;
}
.hero-img{
    max-height: 300px;
    max-width: 300px;
}
.hero-inventory{
    padding: 0 10%;
}
span{
    font-size: 24px;
}
.img-money{
    margin-left: 10px;
}
.table-inventory{
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
}
.table-inventory th{
    overflow: hidden;
    text-overflow: ellipsis;
}
.my-custom-scrollbar {
    position: relative;
    height: 70vh;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.btn-outline-orange{
    color: #212529;
    background-color: darkorange;
    border-color: darkorange;
}

.custom-tab-hidden{
    display: none;
}

.skill-item{
    margin: 8% 8%;
    font-size: 28px;
    text-align: center;
    border-radius: 25px;
    transition: 0.5s;

}
.skill-item:hover{
    border: 3px solid transparent;
}

.custom-text-skill{
    text-shadow: black 2px 2px 0, black -2px -2px 0,
    black -2px 2px 0, black 2px -2px 0;
}

.new-hr{
    border-top: 2px lightblue solid;
    margin-top: 0;
}

span{
    color: #f8f9fa;
}

.modal-header{
    border-bottom-color: #343a40;
}
.modal-footer{
    border-top-color: #343a40;
}

.question-icon{
    padding-left: 5px;
    color: white;
}

.hero-description{
    color: white !important;
    background-color:transparent !important;
}

.card-landing{
    margin-top: 10%;
    border-radius: 25px;
    background-color: rgba(52,58,64, 0.4)!important;
}